Proyecto-Sistem-Textil/Connected Services/ServiceReference1/ServicioTextil.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="validarusuarioempleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validarusuarioempleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validarusuarioempleadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidacionProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proveedorid" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contacto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidacionProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidacionProveedorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoPedidoCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contacto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
        <xs:element minOccurs="0" name="productoid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoPedidoCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EstadoPedidoCompraResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="detallepedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pedidoid" type="xs:int" />
        <xs:element minOccurs="0" name="productoid" type="xs:int" />
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="detallepedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="detallepedidoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="entradainventario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaentrega" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productoid" type="xs:int" />
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
        <xs:element minOccurs="0" name="proveedorid" type="xs:int" />
        <xs:element minOccurs="0" name="almacenid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="entradainventarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entradainventarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="almacen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ubicacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="referencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="almacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="almacenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Productos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stock" type="xs:int" />
        <xs:element minOccurs="0" name="ubicacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salidainventario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="feche_salida" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empleadoid" type="xs:int" />
        <xs:element minOccurs="0" name="productoid" type="xs:int" />
        <xs:element minOccurs="0" name="stock" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salidainventarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salidainventarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rango" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sueldo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpleadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ubicacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetallesPedidoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productoid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cantidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clienteid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechapedido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetallesPedidoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DetallesPedidoClienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Entregas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EntregasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EntregasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="detallemany_entrega">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productoid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cantidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechapedido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pedidomany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="entreid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaentrega" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="detallemany_entregaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="detallemany_entregaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>